.header {
  padding: 20px 50px;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
